<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1><%= heading %></h1>
    <a href="/">Przejdź do strony głównej</a>
</body>
</html>
